<% include partials/header.ejs %>

<div class="card">
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-6">
                <h4 class="card-title">
                    <h4>My Suppliers' Accounts</h4>
                </h4>
            </div>
            <div class="col-6" align="right"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">

                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Supplier</th>
                                <th>Accounts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (suppliers.length > 0) {%>

                            <% suppliers.forEach((supplier, index) => { %>

                            <tr>
                                <td align='center'>
                                    <a href='/suppliersaccountinfo/<%= supplier.Id %>' title='Add New Account For Supplier' class='addStore'><i class="icon-plus" style="font-size: 1.5rem"></i></a>

                                    <a href="/paysupplier/<%= supplier.Id %>" title="Pay Supplier"><i class="icon-basket text-success table-icon"
                                        style="font-size: 1.5rem"></i></a>
                                </td>
                                <td><span class='text-primary'><%= supplier.Name %></span></td>
                                <td>
                                    <%
                                    let _supId = supplier.Id;
                                    let suppliersaccounts = suppliers_accounts.filter(suppliers_account => suppliers_account.SupplierId == _supId);
                                    if (suppliersaccounts.length > 0)
                                    {%>

                                    <table id="" class="table" style="background-color:#000">
                                        <thead>
                                            <tr style="background-color:#333">
                                                <th>Reference</th>
                                                <th>Bank</th>
                                                <th>Account Number</th>
                                                <th>Account Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% suppliersaccounts.forEach((supAccount, index) => {%>
                                            <tr>
                                                <td><span class='text-primary'><%= supAccount.Reference %></span></td>
                                                <td><%= supAccount.BankName %></td>
                                                <td><%= supAccount.AccountNumber %></td>
                                                <td><%= supAccount.AccountName %></td>
                                                <td align='center' class='td-actions no-print'>
                                                    <!-- <a href="#" title="Modify this Supplier's account"><i class="icon-pencil text-success table-icon"></i></a> -->
                                                    
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>

                                    <%} else {%>
                                    <table id="" class="table" width="100%" style="background-color:#000"><tr><td align="center"><b>No Accounts</b></td></tr></table>
                                    <% } %>
                                </td>
                            </tr>

                            <% }) %>

                            <% } else { %>
                            <tr>
                                <td colspan="7" style="text-align: center">No Suppliers Found</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>