<% include partials/header.ejs %>

<div class="row">
    <div class="col-md-6 offset-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="TopTitle"></h4>
                <p class="card-description">
                    Supplier Information
                </p>
                <form class="forms-sample" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="txtName">Name *</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="icon-briefcase text-primary"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0 ctrl-rounded txtName" id="txtName" name="supplier_name" placeholder="Name" required value="<%= supplier.Name%>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtAddress">Address *</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="icon-briefcase text-primary"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0 ctrl-rounded txtAddress" id="txtAddress" name="supplier_address" placeholder="Address" required value="<%= supplier.Address%>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email *</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="icon-briefcase text-primary"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0 ctrl-rounded txtEmail" id="txtEmail" name="supplier_email" placeholder="Email" required value="<%= supplier.Email%>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Phone Number *</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="icon-briefcase text-primary"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0 ctrl-rounded txtPhone" id="txtPhone" name="supplier_phone" placeholder="Phone Number (eg +234xxxxxxxxxx)" required value="<%= supplier.Phone%>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mt-3" align="center">
                            <button type="submit" class="btn btn-primary btn-rounded font-weight-medium auth-form-btn" id="btnSave">SAVE</button>
                            <a href="/supplierslist" class="btn btn-danger btn-rounded font-weight-medium auth-form-btn">CANCEL</a>
                        </div>
                    </div>

                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>

                    <input id="txtId" type="hidden" class="txtId" name="supplier_id" value="<%= supplier.Id%>" />
                    <input id="hdRef" type="hidden" class="hdRef" name="supplier_ref" value="<%= supplier.Ref%>" />
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>